@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

  
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.items-col{
  display: flex;
  flex-direction: column;
  gap:50px;
}

.btn{
  @apply
  w-[200px] 
  font-semibold	
  tracking-wider	
  p-2 
  text-white
  flex
  justify-start
  items-center 
  gap-2
  ;
}
